@keyframes opacity-remove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-title {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadow {
  0% {
    left: 0;
  }
  70% {
    left: 0;
  }
  100% {
    left: -6px;
  }
}
@keyframes opacity-btn {
  50% {
    opacity: 0;
    transform: translateY(45px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes cover-body {
  0% {
    right: 100%;
    outline: 0px solid #e87d9e;
  }
  20% {
    border-right: 0px solid #fffa5e;
  }
  40% {
    outline: 100px solid #e87d9e;
  }
  60% {
    border-right: 50px solid #fffa5e;
  }
  100% {
    border-right: 0px solid #fffa5e;
    outline: 0px solid #e87d9e;
    right: 0;
  }
}
@keyframes error {
  0% {
    background-color: #ff0051;
  }
  100% {
    background-color: transparent;
  }
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000620;
  font-family: "ImcreSoojin", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1000;
  background-repeat: no-repeat;
  background-size: cover;
  animation: opacity-remove 0.7s ease-in-out 0s 1 normal forwards;
  opacity: 0;
}

.display_none {
  display: none;
}